### delete thsi line
### settings file name: .Settings.config
### put in project folder
## separator character is ":"

const_generate_pdf_timer_interval_msecs:2000
module_config_file_name:.TexFileSequence.csv
marks_denominations_delemiter:+
const_main_pdf_name:main_pdf
const_build_dir_name:build
latex_compile_command:pdflatex -file-line-error -interaction=nonstopmode -output-directory=build 
const_tex_compile_timeout:20000
const_generate_pdf_timer_interval_msecs:750
