# Settings file for AutoG: Configuring the project	# Help File for AutoG: Configuring the project
# vim -O +'windo set scrollbind' project.preconfig.settings project.preconfig.help	# Try: vim -O +'windo set scrollbind' project.preconfig.settings project.preconfig.help
	
	#------------- About rooms and packets
	
venuesequence=( l3 )	
	
	   #!venuesequence
	   # example:
	   #   venuesequence=(l1 l2  1102 )
	   # List of venues where test was held 
	   #   or the list of rooms where test was held
	   # These labels for venues should be used while
	   #    scanning the answer booklets
	   # This sequence should be the same as in the 
	   #    list of students file in 
	   #    inputs/SerialNumber-StudentID.csv file
	   # If a venue has the product 
	   #    (number of students 
	   #         * number of pages in booklet)
	   #         > 1000 or 10,000 
	   #    depending on scanner ,
	   #    split the venue into two or more parts 
	   #       like l1a, l1b etc.
	   ###############################################
	
packetsize=( [l3]=27  )	
	
	   #!packetsize
	   # example :
	   #  packetsize=( [l1]=9 [l2]=10 [1102]=8 )
	   # Number of students per venue/room
	   ###############################################
	
	
	#------------ About the answer booklet
numofpages=20	
	
	   #!numofpages
	   # example: 
	   #   numofpages=8
	   # How many pages in answer booklet per student? 
	   #   max allowed is 99
	   ###############################################
qtopages=( [11]="1 "  [1]="2 3 " [2]="4 " [3]="5 " [4]="6 " [5]="7 8 " [6]="9 10 " [7]="11 " [8]="12 13 " [9]="14 15 " [10]="16 " )	
	
	   #!qtopages
	   # example : 
	   #   qtopages=( [1]="1 2" [2]="3 4 5" )
	   # question numbers-->pages mapper
	   # question number 1 on pages 1 and 2, 
	   # question number 2 on pages 3, 4, 5 etc.
	   ###############################################
pagestepmarks=( [1]="40" [3]="1+1+1+1" [4]="1+1+1+1" [5]="1+1+1+1" [6]="1+1+1+1" [8]="1+1+1+1" [10]="1+1+1+1" [11]="1+1+1+1" [13]="1+1+1+1" [15]="1+1+1+1" [16]="1+1+1+1" )	
	
	   #!pagestepmarks
	   # example: 
	   #    pagestepmarks=([2]="1+2+1" [5]=".5+.5+.5")
	   # Convention:
	   #   (a) Marking Scheme is displayed 
	   #       preferably on the last page of that 
	   #       question, not the first. 
	   #       This helps faster grading as one 
	   #       doesn't have to go back in sequence 
	   #       of pages for a question to give marks
	   # Convention: 
	   #   (b) Example Question 1 on pages 1 and 2: 
	   #       page 2 will have "1+2+1" format. 
	   # Convention:
	   #   (c) If Q-1a) is on page-1 and 
	   #          Q-1b) is on page-2: then 
	   #       you may give 
	   #       on page-1 marking scheme for Q-1a) and
	   #       on page-2 marking scheme for Q-1b) : 
	   #       Together, that is the sum of these 
	   #       two will be marks for Q-1.
	   # Convention: 
	   #   (d) extrapages always have zero 
	   #       marking scheme: their stepmarks 
	   #       are actually list of questions 
	   #       which can appear there
	   ###############################################
	
	#---------- About Extrapages of answer booklet
xtrapages=( 17 18 19 20  )	
	
	   #!xtrapages
	   # example:
	   #   xtrapages=( 6 7 8 )
	   # Suppose you give page numbers 6, 7 and 8 
	   #   as extra space for writing answers to any
	   #   question
	   ###############################################
xtrapagequestions=(  [17]="1+2+3+4+5+6+7+8+9+10+11" [18]="1+2+3+4+5+6+7+8+9+10+11" [19]="1+2+3+4+5+6+7+8+9+10+11" [20]="1+2+3+4+5+6+7+8+9+10+11" )	
	
	   #!xtrapagequestions 
	   #   xtrapagequestions=( [6]="1+2+3"   \ 
	   #         [7]="1+2+3"  [8]="1+2+3" )
	   # this is an associative array mapping
	   #   xtrapages--> (possible) question numbers
	   # note the + convention, not SPACE.
	   # example:
	   ###############################################
	
	
	#-------------------- About Scans
scannerdumpfolder="/home/srikanth/Junk/konicadump"  	
	
	
	   #!scannerdumpfolder
	   # where does your scanner dump the scans? 
rotatescans="FALSE"  	   
	
	   #!rotatescans="FALSE" 
	   #    should one NOT rotate scans by 180?
rotatescans="TRUE"   	   
	
	   #!rotatescans="TRUE" 
	   #    should one rotate scans by 180?
SCANTYPE="pdf"         	   
	
	   #!SCANTYPE="pdf"
	   #    NOT TESTED: jpg, tiff etc.
FILENAMEPATTERN="%04d" 	   
	
	   #!FILENAMEPATTERN="%03d"
	   #  scanned pages are l1_001.pdf, l1_002.pdf etc
	   #  always assumed venue wise
	   #  always assumed bursted into pages
blankpagemargin=8000	   
	
	   #!blankpagemargin 
	   #  this is the allowed margin of error 
	   #  in detecting blank page, in Bytes
	   #  As a rule of thumb: 
	   #     15000  for colour regular PDF scans
	   #      8000  for colour compact PDF scans
	   #      are quite reasonable
	   #      Meaning/Definition: 
	   #        if a scanned page size 
	   #         <= blank page size 
	   #          + blankpagemargin, 
	   #      that page will be treated as blank 
	   #      Low numbers here mean less work for
	   #        zero_stamper/blank_page_recognizer
	   #      High numbers here mean zero_stamper
	   #        and blank_page_recognizer will 
	   #        aggressively mark pages even when
	   #        students have some stuff written 
	   ###############################################
	
	
	#----------------- About the course
thiscoursenumber="MA411m"	
	
	#!thiscoursenumber="MA101"
thissemester="Shishir"	
	
	#!thissemester="Sharad"
thisyear="2024"	
	
	#!thisyear="2022"
thisexam="EndSem"	
	
	#!thisexam="MidSem"
thiscoursename="Differential Geometry"	
	
	#!thiscoursename="Mathematics I"
broadcastmessage="Deadline for recheck requests is Nov. 30"	
	
	#!broadcastmessage=" Deadline for recheck requests is Mar. 13"
	   # This message is printed on the last page of 
	   #   corrected answer booklet which has the table
	   #   marks of the student
	   ###############################################
	
	
	#-------- Grading Teams
	
numofgradingteams=1	
	
	#!numofgradingteams=1
	   # Is each question bein evaluated by 2
	   #   or just one team of graders?
	   
graders1=( kvs ) 	#-------- Team 1 for Grading 
	
	
	
	#!graders1=( kvs vw )
	   # kvs in one grader
graders1toq=( [kvs]="1 2 3 4 5 6 7 8 9 10 11" )	   # vw is another grader
	
	
	#!graders1toq=( [kvs]="1 2 3 4" [vw]="5 6 7 8" )
	   # who is grading which questions
	   #
	  
graders1toc=( [kvs]=conf-room [vw]=E102 )	
	
	
	#!graders1toc=( [kvs]=conf-room [vw]=E102 ) 
	   # these cubicles are referenced 
	   #     in ../config/autog-clients.csv
	   #     where each grader has a cubicle
	   #     and a static IP
	   
	
	#-------- Team 2 for Grading 
graders2=( "hiranmoy" "darindam" )	
	
	#!graders2=( "hiranmoy" "darindam" )
	   # 
graders2toq=( [hiranmoy]="1 2" [darindam]=" 3 4 5" )	
	
	#!graders2toq=( [hiranmoy]="1 2" [darindam]=" 3 4 5" )
	   #
	
graders2toc=( [hiranmoy]="RS23" [darindam]="RS07" )	
	#!graders2toc=( [hiranmoy]="RS23" [darindam]="RS07" )
	   #
	
	
	#--------- Resolving Team
	
	   # All mismatches will be resolved by this team
	   #
	
resolvers=( "kvs-hiran" "vw-darindam" )	
	#!resolvers=( "kvs-hiran" "vw-darindam" )             
	
	
	
resolvers2toq=( [kvs-hiran]="1 2" [vw-darindam]=" 3 4 5" )	#!resolvers2toq=( [kvs-hiran]="1 2" [vw-darindam]=" 3 4 5" )                                             
	
	
	
	
	
	
resolvers2toc=( [kvs-hiran]="E106" [vw-darindam]="E102" )	#!resolvers2toc=( [kvs-hiran]="E106" [vw-darindam]="E102" ) 
	
	
	
	
	
	
	# End of Help File for Project Configuring 
# End of Settings File for Project Configuring	
